{
  "extends": "stylelint-config-standard-scss",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "at-rule-no-unknown": [
      true, {
        "ignoreAtRules": [
          "use",
          "forward",
          "import",
          "mixin",
          "include",
          "function",
          "return",
          "extend",
          "at-root",
          "error",
          "warn",
          "debug",
          "if",
          "else",
          "each",
          "for",
          "while"
        ]
      }
    ],
    "declaration-no-important": true,
    "font-family-name-quotes": "always-unless-keyword",
    "function-url-quotes": "always",
    "function-url-no-scheme-relative": true,
    "no-descending-specificity": null,
    "property-no-unknown": [
      true, {
        "ignoreSelectors": [
          ":export",
          ":import"
        ]
      }
    ],
    "selector-attribute-quotes": "always",
    "selector-class-pattern": "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
    "selector-max-id": 0,
    "selector-max-universal": 0,
    "selector-pseudo-class-no-unknown": [
      true, {
        "ignorePseudoClasses": [
          "export"
        ]
      }
    ],
    "string-quotes": "single",
    "order/properties-order": [
      {
        "groupName": "position",
        "properties": [
          "position",
          "z-index",
          "top",
          "right",
          "bottom",
          "left"
        ]
      }, {
        "groupName": "box",
        "properties": [
          "box-sizing",
          "display",
          "flex",
          "flex-basis",
          "flex-direction",
          "flex-flow",
          "flex-grow",
          "flex-shrink",
          "flex-wrap",
          "justify-content",
          "justify-items",
          "justify-self",
          "align-content",
          "align-items",
          "align-self",
          "order",
          "grid",
          "grid-template",
          "grid-template-areas",
          "grid-template-rows",
          "grid-template-columns",
          "grid-auto-rows",
          "grid-auto-columns",
          "grid-auto-flow",
          "grid-gap",
          "grid-row-gap",
          "grid-column-gap",
          "grid-area",
          "grid-row",
          "grid-row-start",
          "grid-row-end",
          "grid-column",
          "grid-column-start",
          "grid-column-end",
          "gap",
          "row-gap",
          "column-gap",
          "float",
          "clear",
          "width",
          "min-width",
          "max-width",
          "height",
          "min-height",
          "max-height",
          "margin",
          "margin-top",
          "margin-right",
          "margin-bottom",
          "margin-left",
          "padding",
          "padding-top",
          "padding-right",
          "padding-bottom",
          "padding-left",
          "object-fit",
          "object-position",
          "overflow",
          "overflow-x",
          "overflow-y"
        ]
      }, {
        "groupName": "typo",
        "properties": [
          "direction",
          "color",
          "font",
          "font-family",
          "font-size",
          "font-weight",
          "font-style",
          "font-variant",
          "font-size-adjust",
          "font-stretch",
          "font-effect",
          "font-emphasize",
          "font-emphasize-position",
          "font-emphasize-style",
          "font-smooth",
          "line-height",
          "letter-spacing",
          "white-space",
          "text-align",
          "text-align-last",
          "text-transform",
          "text-decoration",
          "text-emphasis",
          "text-emphasis-color",
          "text-emphasis-style",
          "text-emphasis-position",
          "text-indent",
          "text-justify",
          "text-outline",
          "text-wrap",
          "text-overflow",
          "text-overflow-ellipsis",
          "text-overflow-mode",
          "text-orientation",
          "text-shadow",
          "vertical-align",
          "word-wrap",
          "word-break",
          "word-spacing",
          "quotes",
          "overflow-wrap",
          "tab-size",
          "hyphens",
          "page-break-after",
          "page-break-before",
          "page-break-inside"
        ]
      }, {
        "groupName": "visual",
        "properties": [
          "list-style",
          "list-style-position",
          "list-style-type",
          "list-style-image",
          "table-layout",
          "empty-cells",
          "caption-side",
          "background",
          "background-color",
          "background-image",
          "background-repeat",
          "background-position",
          "background-position-x",
          "background-position-y",
          "background-size",
          "background-clip",
          "background-origin",
          "background-attachment",
          "background-blend-mode",
          "border",
          "border-width",
          "border-style",
          "border-color",
          "border-top",
          "border-top-width",
          "border-top-style",
          "border-top-color",
          "border-right",
          "border-right-width",
          "border-right-style",
          "border-right-color",
          "border-bottom",
          "border-bottom-width",
          "border-bottom-style",
          "border-bottom-color",
          "border-left",
          "border-left-width",
          "border-left-style",
          "border-left-color",
          "border-radius",
          "border-top-left-radius",
          "border-top-right-radius",
          "border-bottom-right-radius",
          "border-bottom-left-radius",
          "border-image",
          "border-image-source",
          "border-image-slice",
          "border-image-width",
          "border-image-outset",
          "border-image-repeat",
          "border-collapse",
          "border-spacing",
          "box-shadow",
          "box-decoration-break",
          "outline",
          "outline-width",
          "outline-style",
          "outline-color",
          "outline-offset",
          "visibility",
          "appearance",
          "opacity",
          "filter",
          "backdrop-filter",
          "mix-blend-mode",
          "isolation"
        ]
      }, {
        "groupName": "svg",
        "properties": [
          "mask",
          "fill",
          "fill-rule",
          "stroke",
          "clip-path",
          "clip-rule"
        ]
      }, {
        "groupName": "motion",
        "properties": [
          "transform",
          "transform-origin",
          "transform-style",
          "transition",
          "transition-delay",
          "transition-duration",
          "transition-property",
          "transition-timing-function",
          "animation",
          "animation-delay",
          "animation-direction",
          "animation-duration",
          "animation-fill-mode",
          "animation-iteration-count",
          "animation-name",
          "animation-play-state",
          "animation-timing-function",
          "backface-visibility",
          "perspective",
          "perspective-origin",
          "will-change"
        ]
      }, {
        "groupName": "misc",
        "properties": [
          "content",
          "counter-reset",
          "counter-increment",
          "resize",
          "user-select",
          "pointer-events",
          "touch-action",
          "zoom"
        ]
      }
    ]
  }
}
