@use 'sass:color';

$base-color: #2b3138;
$vibrant-color: #2443db;

@font-face {
  font-family: 'Sailec';
  src: local('Sailec'), url('font/Sailec.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sailec';
  src: local('Sailec-Bold'), url('font/Sailec-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// stylelint-disable selector-max-universal
*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  color: $base-color;
  font-family: 'Sailec', 'Arial', sans-serif;
  font-size: 38px;
  background: #fff;
  user-select: none;
}

main {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  padding: 0 40px;
}

h1 {
  display: inline-flex;
  align-items: center;
  margin: 20px 0;
}

.link {
  position: relative;
  color: $vibrant-color;
  white-space: nowrap;
  text-decoration: none;

  &::before {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 4px;
    background: currentcolor;
    transition: width 400ms ease;
    content: '';
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }
}

.note {
  position: relative;
  padding-left: 20px;
  color: color.adjust($base-color, $lightness: 55%);
  font-size: 0.63em;

  &::before {
    position: absolute;
    left: 0;
    content: '*';
  }
}

.github {
  &-button {
    display: inline-flex;
    margin-left: 20px;
    opacity: 0;
    transition: transform 200ms ease;

    &:hover {
      transform: scale(0.9);
    }
  }
}

.progress {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 70px;
  height: 70px;
  opacity: 0;
  fill: transparent;
  stroke: $vibrant-color;
  stroke-width: 4px;
  transform-origin: center;

  &-circle {
    r: 30;
    cx: 50%;
    cy: 50%;
  }
}

[data-zeroclick='dispatch'] {
  color: $base-color;
  cursor: progress;

  &::before {
    width: 100%;
  }
}

@media (max-width: 640px) {
  body {
    justify-content: flex-start;
    font-size: 30px;
    text-align: center;
  }

  main {
    padding: 0 20px;
  }

  h1 {
    flex-direction: column;
  }

  img {
    width: 100%;
  }

  br {
    content: '';

    &::before {
      content: ' ';
    }
  }

  .link {
    &::before {
      bottom: -3px;
      height: 2px;
    }
  }

  .title {
    height: 70px;
    margin: 40px 0 0;
  }

  .github {
    &-button {
      display: none;
    }
  }

  .progress {
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    stroke-width: 2px;

    &-circle {
      r: 20;
    }
  }
}
