$base-color: #2b3138;
$vibrant-color: #2443db;

@font-face {
  font-family: 'Sailec';
  src: local('Sailec'), url('../assets/font/Sailec.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sailec';
  src: local('Sailec-Bold'), url('../assets/font/Sailec-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: 'Sailec', 'Arial', sans-serif;
  font-size: 38px;
  background: #fff;
  color: $base-color;
  user-select: none;
}

main {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  padding: 0 40px;
}

p {
  a {
    position: relative;
    color: $vibrant-color;
    text-decoration: none;
    white-space: nowrap;

    &::before {
      content: '';
      position: absolute;
      width: 0%;
      height: 4px;
      bottom: -5px;
      left: 0;
      background: currentColor;
    }

    &:hover {
      &::before {
        width: 100%;
        transition: width 400ms ease;
      }
    }
  }
}

h1 {
  display: inline-flex;
  align-items: center;
  margin: 20px 0;
}

[data-zeroclick='dispatch'] {
  color: $base-color;
}

.title {
  height: 100px;
}

.github-star {
  height: 30px;
}

.github-button {
  display: inline-flex;
  margin-left: 20px;
  opacity: 0;
  transition: transform 200ms ease;

  &:hover {
    transform: scale(0.9);
  }
}

@media (max-width: 640px) {
  body {
    justify-content: flex-start;
    text-align: center;
    font-size: 30px;
  }

  main {
    padding: 0 20px;
  }

  h1 {
    flex-direction: column;
  }

  p {
    a {
      &::before {
        height: 2px;
      }
    }
  }

  img {
    width: 100%;
  }

  .title {
    height: 70px;
    margin: 40px 0 0 0;
  }

  .github-button {
    display: none;
  }
}
