:root {
  --base-color: #2b3138;
  --vibrant-color: #4654f2;
}

@font-face {
  font-family: 'Circular Std Book';
  src: local('Circular Std Book'), local('CircularStd-Book'), url('CircularStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std Book';
  src: local('Circular Std Bold'), local('CircularStd-Bold'), url('CircularStd-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: 'Circular Std Book', Arial;
  font-size: 40px;
  background: #fff;
  color: var(--base-color);
  user-select: none;
}

main {
  width: 100%;
  max-width: 1200px;
  padding: 0 40px;
}

p a {
  position: relative;
  color: var(--vibrant-color);
  text-decoration: none;
}

p a::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 4px;
  bottom: -5px;
  left: 0;
  background: currentColor;
}

p a:hover::before {
  width: 100%;
  transition: width 400ms ease;
}

h1 {
  display: inline-flex;
  align-items: center;
  color: var(--vibrant-color);
  font-weight: 400;
}

.invert {
  margin: 0 5px;
  padding: 0 10px;
  background: var(--vibrant-color);
  color: #fff;
}

[data-zeroclick='dispatch'] {
  color: var(--base-color);
}

.github-button {
  display: inline-flex;
  margin-left: 20px;
  opacity: 0;
  animation: github-star 1.5s 500ms ease forwards;
}

.github-star {
  height: 30px;
}

.github-button:hover {
  opacity: 0.5;
}

.barba-leave,
.barba-enter-to {
  opacity: 1;
}

.barba-enter,
.barba-leave-to {
  opacity: 0;
}

.barba-leave-active,
.barba-enter-active {
  transition: opacity 400ms ease;
}

@media (max-width: 640px) {
  body {
    justify-content: flex-start;
    font-size: 30px;
  }

  main {
    padding: 0 20px;
  }

  h1 {
    font-size: 12vw;
  }

  a::before {
    height: 2px;
  }
}

@keyframes github-star {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
