# Github workflow for Continuous Integration

name: CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Restore dependencies
        uses: actions/cache/restore@v4
        id: cache
        with:
          path: node_modules
          key: npm-dependencies-${{ hashFiles('package-lock.json') }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci

      - name: Lint code
        run: npm run lint

      - name: Build the package
        run: npm run build

      - name: Run tests with code coverage
        run: npm run coverage

      - name: Send code coverage to Coveralls
        uses: coverallsapp/github-action@v2.3.0

      - name: Save dependencies
        uses: actions/cache/save@v4
        if: steps.cache.outputs.cache-hit != 'true'
        with:
          path: node_modules
          key: npm-dependencies-${{ hashFiles('package-lock.json') }}
